.b-submit {
    background-color: red;
    color: black;
    padding: 1rem;
    cursor: pointer;
  }
  .b-close{
    background-color: red;
    color: black;
    padding: 1rem;
    cursor: pointer;
  }